body
{
    background-color:#5fafaf ;
}
.li1
{
    font-family: Arial;
    color: navy;
    font-size: 12pt;
}
li
{
    font-family: 'Courier';
    font-size: 10pt;
    color: rgb(0, 255, 0);
}